.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* custom  */
.font-p{
font-size: 24px;
}
.fw-bold{
font-weight: 700;
}
.item-body{
  position: relative;
}
.item-text{
  margin-top: 60px;
}
.item-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  height: 60px;
  width: 60px;
  border-radius: 10px;
  position: absolute;
  top: -10%;
  left: 40%;
}